In [19]:
import pandas as pd
import numpy as np
from QuantLib import *
from datetime import datetime as dt

In [22]:
date = Date(13,3,2025)
date

Date(13,3,2025)

In [24]:
india_calendar = India()
period = Period(60,Days)
raw_date = date+period #simply adds days 
india_date = india_calendar.advance(date,period) #gives business days

In [31]:
india_busdays = india_calendar.businessDaysBetween(date, india_date)
india_busdays

60

In [40]:
date_df = pd.DataFrame({'Date':[india_calendar.advance(date,Period(i,Days)) for i in range(20)]})
date_df

                Date
0   March 13th, 2025
1   March 17th, 2025
2   March 18th, 2025
3   March 19th, 2025
4   March 20th, 2025
5   March 21st, 2025
6   March 24th, 2025
7   March 25th, 2025
8   March 26th, 2025
9   March 27th, 2025
10  March 28th, 2025
11   April 1st, 2025
12   April 2nd, 2025
13   April 3rd, 2025
14   April 4th, 2025
15   April 7th, 2025
16   April 8th, 2025
17   April 9th, 2025
18  April 11th, 2025
19  April 15th, 2025

#### Volatility Smile and Heston Model Calibration

In [47]:
day_count = Actual365Fixed()
calendar = India()
calculation_date = Date(13,3,2025)
spot = 22550
Settings.instance().evaluationDate = calculation_date

dividend_yield = QuoteHandle(SimpleQuote(0.0))
risk_free_rate = 0.105
dividend_rate = 0.0
flat_ts = YieldTermStructureHandle(FlatForward(calculation_date,risk_free_rate,day_count))
dividend_ts = YieldTermStructureHandle(FlatForward(calculation_date,dividend_rate,day_count))

In [48]:
# Heston model dummy starting parameters -

v0 = 0.01
kappa  = 0.2
theta = 0.02
rho = -0.75
sigma = 0.5

In [51]:
process = HestonProcess(flat_ts,dividend_ts,QuoteHandle(SimpleQuote(spot)),v0,kappa,theta,sigma, rho)

model = HestonModel(process)

engine = AnalyticHestonEngine(model)